In [81]:
# Import python dataframes.

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

** Step 1 - Clean Data **

In [82]:
# Read CSV
df = pd.read_csv('Walmart.csv', encoding_errors="ignore")

In [83]:
# Find Duplicates
df.duplicated().sum()

np.int64(51)

In [84]:
# Drop Duplicates
df.drop_duplicates(inplace=True)

In [85]:
# Find all nulls 
df.isna().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [86]:
# Drop all nulls
df.dropna(inplace=True)
df.isna().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [87]:
# Column Datatypes
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [88]:
# Get a quick look of dataset
df.head(10)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
5,6,WALM026,Denton,Electronic accessories,$85.39,7.0,25/03/19,18:30:00,Ewallet,4.1,0.48
6,7,WALM088,Cleburne,Electronic accessories,$68.84,6.0,25/02/19,14:36:00,Ewallet,5.8,0.33
7,8,WALM100,Canyon,Home and lifestyle,$73.56,10.0,24/02/19,11:38:00,Ewallet,8.0,0.18
8,9,WALM066,Grapevine,Health and beauty,$36.26,2.0,10/01/19,17:15:00,Credit card,7.2,0.33
9,10,WALM065,Texas City,Food and beverages,$54.84,3.0,20/02/19,13:27:00,Credit card,5.9,0.33

In [89]:
# Remove '$' sign in front of values in column 'unit_price'
df['unit_price'] = df['unit_price'].str.replace("$", "").astype(float)

In [90]:
# Verify removal of '$' sign
df['unit_price'].head(5)

0    74.69
1    15.28
2    46.33
3    58.22
4    86.31
Name: unit_price, dtype: float64

In [91]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [92]:
# Convert data and time format
df["date"] = pd.to_datetime(df["date"], format= "%d/%m/%y")
df["time"] = pd.to_datetime(df["time"], format = "%H:%M:%S").dt.time
df["time"]

0       13:08:00
1       10:29:00
2       13:23:00
3       20:33:00
4       10:37:00
          ...
9995    10:10:00
9996    14:20:00
9997    16:00:00
9998    12:25:00
9999    09:48:00
Name: time, Length: 9969, dtype: object

In [93]:
# Extract Additional date features
df["day of week"] = df["date"].dt.day_name()
df["month"] = df["date"].dt.month_name()
df[["day of week", "month"]].head()

  day of week     month
0    Saturday   January
1      Friday     March
2      Sunday     March
3      Sunday   January
4      Friday  February

In [94]:
# Calculate and add total revenue for each sale 
df["total_revenue"] = df['unit_price'] * df['quantity']